.about {
    background: rgb(241, 255, 239);
    padding: 30px;
    margin-top: 60px;
}

.about__headline {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.about__firms {
    display: flex;
}

.about__firm-image {
    flex-basis: 25%;
}


